@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#7e799c, #908f94, #7e799c);
  border-radius: 8px;
}

.loader {
  @apply fixed top-0 bottom-0 left-0 right-0 z-50 flex items-center justify-center text-center bg-black;
}

.loader-ring {
  animation: loader-ring 1.8s linear infinite;
  @apply absolute rounded-[50%] w-52 h-52 shadow-md shadow-white;
}

@keyframes loader-ring {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.text-loader {
  animation: text-loader 1.5s ease-in-out infinite;
  @apply z-50 text-xl text-white;
}

@keyframes text-loader {
  50% {
    color: #000;
  }
}

.b-t {
  @apply border-4 border-gray-900;
}





.container-login {
  @apply flex flex-col items-center justify-center px-12 pt-10 pb-8 bg-white rounded-xl;
}

.logo {
  @apply flex items-center text-3xl font-bold space-x-1.5;
}
.logo img {
  @apply h-16;
}




.input-box {
  @apply relative flex pl-3 pr-8 my-12 border-b-2 rounded-lg;
}

.input-box label {
  @apply absolute top-1/2 left-1.5 -translate-y-1/2 text-gray-600 font-semibold duration-300;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box input {
  @apply py-3 text-xl border-none outline-none;
}



.input-error {
  @apply text-sm text-red-500 absolute -bottom-6
}



.remember-forgot {
  margin: 0px 0 0;
  @apply flex items-center justify-between text-sm;
}

.remember-forgot label {
  @apply flex;
}

.remember-forgot label input {
  margin-right: 3px;
}

.remember-forgot a {
  @apply hover:underline;
}

.btn-login {
  @apply flex items-center justify-center w-full h-10 mt-10 text-xl duration-300 border outline-none bg-body-light rounded-xl hover:bg-gray-800 hover:text-white disabled:cursor-wait;
}
