@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#7e799c, #908f94, #7e799c);
  border-radius: 8px;
}

.loader {
  @apply fixed top-0 bottom-0 left-0 right-0 z-50 flex items-center justify-center text-center bg-black;
}

.loader-ring {
  animation: loader-ring 1.8s linear infinite;
  @apply absolute rounded-[50%] w-52 h-52 shadow-md shadow-white;
}

@keyframes loader-ring {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.text-loader {
  animation: text-loader 1.5s ease-in-out infinite;
  @apply z-50 text-xl text-white;
}

@keyframes text-loader {
  50% {
    color: #000;
  }
}

.b-t {
  @apply border-4 border-gray-900;
}


.x-input {
  @apply bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5  dark:border-gray-600 dark:placeholder-gray-500 dark:text-gray-800
}

.x-label {
  @apply block font-medium text-gray-900 md:text-lg dark:text-white;
}

.x-label .requeued {
  @apply text-red-500;
}

.btn-create-update {
  @apply px-6 py-3 text-white transition-colors duration-200 transform bg-blue-500 rounded-md md:w-1/2 hover:bg-blue-700 focus:outline-none;
}